@font-face {
  font-family:'NotoSansJP-Regular' ;
  src: url('Fonts/Noto_Sans_JP/NotoSansJP-Regular.otf');
  font-family: 'NotoSansJP-Black';
  src: url("Fonts/Noto_Sans_JP/NotoSansJP-Black.otf");
  font-family: 'NotoSansJP-Bold';
  src: url("Fonts/Noto_Sans_JP/NotoSansJP-Bold.otf");
  font-family: 'NotoSansJP-Light';
  src: url("Fonts/Noto_Sans_JP/NotoSansJP-Light.otf");
  font-family: 'NotoSansJP-Medium';
  src: url("Fonts/Noto_Sans_JP/NotoSansJP-Medium.otf");
  font-family: 'NotoSansJP-Thin';
  src: url("Fonts/Noto_Sans_JP/NotoSansJP-Thin.otf");
  

}
@font-face{
  font-family: 'Mukta-Bold';
  src: url('Fonts/Mukta/Mukta-Bold.ttf');
  font-family: 'Mukta-ExtraBold';
  src: url('Fonts/Mukta/Mukta-ExtraBold.ttf');
  font-family: 'Mukta-ExtraLight';
  src: url('Fonts/Mukta/Mukta-ExtraLight.ttf');
  font-family: 'Mukta-Light';
  src: url('Fonts/Mukta/Mukta-Light.ttf');
  font-family: 'Mukta-Medium';
  src: url('Fonts/Mukta/Mukta-Medium.ttf');
  font-family: 'Mukta-Regular';
  src: url('Fonts/Mukta/Mukta-Regular.ttf');
  font-family: 'Mukta-SemiBold';
  src: url('Fonts/Mukta/Mukta-SemiBold.ttf');
}

#starttitle{
    text-align: center;
    font-size:50px;
    text-decoration: lightpink;
    
   
}

body:double-button{
    background-color: fade-in($color: #9fccff, $amount: 0);
    opacity: zip($lists:1px);
}
/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color:fade-in($color: #ff0000, $amount: 0)
  }
  .container {
    position: relative;
    width: 100%;
    height: 1600px;
  .image-container {
      width: 100%;
      height: 0;
      padding-top: 50%;
      position:sticky;
      top: 0px;
      bottom: 10px;
      background-size: cover;
      background-image: URL('/IMG/Code.png');
    }
  }
  h1{
    font-family: NotoSansJP-Thin;
  }
  p{
    font-family: Mukta-Medium;
  }
 